<h1>Products</h1>
<div>
    Add new product:
    <br>
    <label>Name:
        <input [(ngModel)]="productToAdd.name" />
    </label>
    <label>Category:
        <select [(ngModel)]="selectedCategory">
            <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select>
    </label>
    <button (click)="add(productToAdd);">
        add
    </button>
</div>
<br>
<p-table [value]="products" [paginator]="true" [rows]="5" sortField="id" >
    <ng-template pTemplate="header">
        <tr>
            <th class=top>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th class=thButton></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.id}}</td>
            <td>
                <a routerLink="/products/{{product.id}}">
                    {{product.name}}
                </a>
            </td>
            <td>{{product.category.name}}</td>
            <td><button title="delete {{product.name}}" (click)=delete(product)>X</button></td>
        </tr>
    </ng-template>
</p-table>