<h1>Categories</h1>
<div>
    Add new category:
    <br>
    <label>Name:
        <input [(ngModel)]="newName" />
    </label>
    <button (click)="add(this.newName);">
        add
    </button>
</div>
<br>
<p-table [value]="categories" [paginator]="true" [rows]="5" sortField="id" >
    <ng-template pTemplate="header">
        <tr>
            <th class=top>ID</th>
            <th>Name</th>
            <th class=thButton></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
        <tr>
            <td>{{category.id}}</td>
            <td>
                <a routerLink="/categories/{{category.id}}">
                    {{category.name}}
                </a>
            </td>
            <td><button type="button" title="delete {{category.name}}" (click)=delete(category)>X</button></td>
        </tr>
    </ng-template>
</p-table>